.Content {
  margin-top: 70px;
  width: 90vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  position: relative;
}
.Outlet {
  grid-column-start: 1;
  grid-column-end: 4;
}
